<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
    <title>QuickShare</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand mb-1 me-4 ms-2" href="#">QuickShare</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" aria-current="page" href="/">Home</a>
            <a class="nav-link active" href="/about">About</a>
            <a class="nav-link" href="/contact">Contact</a>
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
           <h1 class="display-2 mt-5 ">About</h1>
           <p class="px-5 py-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel accusamus autem tempora hic labore quo sint. Fugit explicabo quaerat ducimus non illum odit nobis eius? Ipsum blanditiis quas nam ratione, nisi laborum eaque iure in corporis optio labore nihil sed illo tempora expedita quia aliquam et? Nulla numquam saepe sunt non optio corrupti, hic, voluptatem nisi tempora cupiditate officia possimus.</p>
           <button class="btn btn-primary my-3">Primary Button</button>
           <button class="btn btn-outline-primary my-3">Second Button</button>
        </div>
      </div>
    </div>
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="./main.js"></script>
  </body>
</html>